# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Game/application.windows32/Game.exe
Game/application.windows32/lib/core.jar
Game/application.windows32/lib/Game.jar
Game/application.windows32/lib/gluegen-rt.jar
Game/application.windows32/lib/gluegen-rt-natives-windows-i586.jar
Game/application.windows32/lib/jogl-all.jar
Game/application.windows32/lib/jogl-all-natives-windows-i586.jar
Game/application.windows32/source/Base.pde
Game/application.windows32/source/Enemy.pde
Game/application.windows32/source/EnemyHandler.pde
Game/application.windows32/source/Game.java
Game/application.windows32/source/Game.pde
Game/application.windows32/source/Player.pde
Game/application.windows32/source/Projectile.pde
Game/application.windows64/Game.exe
Game/application.windows64/java/bin/awt.dll
Game/application.windows64/java/bin/bci.dll
Game/application.windows64/java/bin/dcpr.dll
Game/application.windows64/java/bin/decora_sse.dll
Game/application.windows64/java/bin/deploy.dll
Game/application.windows64/java/bin/dt_shmem.dll
Game/application.windows64/java/bin/dt_socket.dll
Game/application.windows64/java/bin/dtplugin/deployJava1.dll
Game/application.windows64/java/bin/dtplugin/npdeployJava1.dll
Game/application.windows64/java/bin/eula.dll
Game/application.windows64/java/bin/fontmanager.dll
Game/application.windows64/java/bin/fxplugins.dll
Game/application.windows64/java/bin/glass.dll
Game/application.windows64/java/bin/glib-lite.dll
Game/application.windows64/java/bin/gstreamer-lite.dll
Game/application.windows64/java/bin/hprof.dll
Game/application.windows64/java/bin/instrument.dll
Game/application.windows64/java/bin/j2pcsc.dll
Game/application.windows64/java/bin/j2pkcs11.dll
Game/application.windows64/java/bin/jaas_nt.dll
Game/application.windows64/java/bin/jabswitch.exe
Game/application.windows64/java/bin/java.dll
Game/application.windows64/java/bin/java.exe
Game/application.windows64/java/bin/java_crw_demo.dll
Game/application.windows64/java/bin/JavaAccessBridge-64.dll
Game/application.windows64/java/bin/javacpl.cpl
Game/application.windows64/java/bin/javacpl.exe
Game/application.windows64/java/bin/javafx_font.dll
Game/application.windows64/java/bin/javafx_font_t2k.dll
Game/application.windows64/java/bin/javafx_iio.dll
Game/application.windows64/java/bin/java-rmi.exe
Game/application.windows64/java/bin/javaw.exe
Game/application.windows64/java/bin/jawt.dll
Game/application.windows64/java/bin/JAWTAccessBridge-64.dll
Game/application.windows64/java/bin/jdwp.dll
Game/application.windows64/java/bin/jfr.dll
Game/application.windows64/java/bin/jfxmedia.dll
Game/application.windows64/java/bin/jfxwebkit.dll
Game/application.windows64/java/bin/jjs.exe
Game/application.windows64/java/bin/jli.dll
Game/application.windows64/java/bin/jp2iexp.dll
Game/application.windows64/java/bin/jp2launcher.exe
Game/application.windows64/java/bin/jp2native.dll
Game/application.windows64/java/bin/jp2ssv.dll
Game/application.windows64/java/bin/jpeg.dll
Game/application.windows64/java/bin/jsdt.dll
Game/application.windows64/java/bin/jsound.dll
Game/application.windows64/java/bin/jsoundds.dll
Game/application.windows64/java/bin/kcms.dll
Game/application.windows64/java/bin/keytool.exe
Game/application.windows64/java/bin/lcms.dll
Game/application.windows64/java/bin/management.dll
Game/application.windows64/java/bin/mlib_image.dll
Game/application.windows64/java/bin/msvcp120.dll
Game/application.windows64/java/bin/msvcr100.dll
Game/application.windows64/java/bin/msvcr120.dll
Game/application.windows64/java/bin/net.dll
Game/application.windows64/java/bin/nio.dll
Game/application.windows64/java/bin/npt.dll
Game/application.windows64/java/bin/orbd.exe
Game/application.windows64/java/bin/pack200.exe
Game/application.windows64/java/bin/plugin2/msvcr100.dll
Game/application.windows64/java/bin/plugin2/npjp2.dll
Game/application.windows64/java/bin/policytool.exe
Game/application.windows64/java/bin/prism_common.dll
Game/application.windows64/java/bin/prism_d3d.dll
Game/application.windows64/java/bin/prism_es2.dll
Game/application.windows64/java/bin/prism_sw.dll
Game/application.windows64/java/bin/resource.dll
Game/application.windows64/java/bin/rmid.exe
Game/application.windows64/java/bin/rmiregistry.exe
Game/application.windows64/java/bin/server/jvm.dll
Game/application.windows64/java/bin/server/Xusage.txt
Game/application.windows64/java/bin/servertool.exe
Game/application.windows64/java/bin/splashscreen.dll
Game/application.windows64/java/bin/ssv.dll
Game/application.windows64/java/bin/ssvagent.exe
Game/application.windows64/java/bin/sunec.dll
Game/application.windows64/java/bin/sunmscapi.dll
Game/application.windows64/java/bin/t2k.dll
Game/application.windows64/java/bin/tnameserv.exe
Game/application.windows64/java/bin/unpack.dll
Game/application.windows64/java/bin/unpack200.exe
Game/application.windows64/java/bin/verify.dll
Game/application.windows64/java/bin/w2k_lsa_auth.dll
Game/application.windows64/java/bin/WindowsAccessBridge-64.dll
Game/application.windows64/java/bin/wsdetect.dll
Game/application.windows64/java/bin/zip.dll
Game/application.windows64/java/COPYRIGHT
Game/application.windows64/java/lib/accessibility.properties
Game/application.windows64/java/lib/amd64/jvm.cfg
Game/application.windows64/java/lib/calendars.properties
Game/application.windows64/java/lib/charsets.jar
Game/application.windows64/java/lib/classlist
Game/application.windows64/java/lib/cmm/CIEXYZ.pf
Game/application.windows64/java/lib/cmm/GRAY.pf
Game/application.windows64/java/lib/cmm/LINEAR_RGB.pf
Game/application.windows64/java/lib/cmm/sRGB.pf
Game/application.windows64/java/lib/content-types.properties
Game/application.windows64/java/lib/currency.data
Game/application.windows64/java/lib/deploy.jar
Game/application.windows64/java/lib/deploy/ffjcext.zip
Game/application.windows64/java/lib/deploy/messages.properties
Game/application.windows64/java/lib/deploy/messages_de.properties
Game/application.windows64/java/lib/deploy/messages_es.properties
Game/application.windows64/java/lib/deploy/messages_fr.properties
Game/application.windows64/java/lib/deploy/messages_it.properties
Game/application.windows64/java/lib/deploy/messages_ja.properties
Game/application.windows64/java/lib/deploy/messages_ko.properties
Game/application.windows64/java/lib/deploy/messages_pt_BR.properties
Game/application.windows64/java/lib/deploy/messages_sv.properties
Game/application.windows64/java/lib/deploy/messages_zh_CN.properties
Game/application.windows64/java/lib/deploy/messages_zh_HK.properties
Game/application.windows64/java/lib/deploy/messages_zh_TW.properties
Game/application.windows64/java/lib/deploy/splash.gif
Game/application.windows64/java/lib/deploy/splash@2x.gif
Game/application.windows64/java/lib/ext/access-bridge-64.jar
Game/application.windows64/java/lib/ext/cldrdata.jar
Game/application.windows64/java/lib/ext/jaccess.jar
Game/application.windows64/java/lib/ext/jfxrt.jar
Game/application.windows64/java/lib/ext/localedata.jar
Game/application.windows64/java/lib/ext/meta-index
Game/application.windows64/java/lib/ext/nashorn.jar
Game/application.windows64/java/lib/ext/sunec.jar
Game/application.windows64/java/lib/ext/sunjce_provider.jar
Game/application.windows64/java/lib/ext/sunmscapi.jar
Game/application.windows64/java/lib/ext/sunpkcs11.jar
Game/application.windows64/java/lib/ext/zipfs.jar
Game/application.windows64/java/lib/flavormap.properties
Game/application.windows64/java/lib/fontconfig.bfc
Game/application.windows64/java/lib/fontconfig.properties.src
Game/application.windows64/java/lib/fonts/AnonymousPro-Bold.ttf
Game/application.windows64/java/lib/fonts/AnonymousPro-LICENSE.txt
Game/application.windows64/java/lib/fonts/AnonymousPro-Regular.ttf
Game/application.windows64/java/lib/fonts/Carlito-Bold.ttf
Game/application.windows64/java/lib/fonts/Carlito-LICENSE.txt
Game/application.windows64/java/lib/fonts/Carlito-Regular.ttf
Game/application.windows64/java/lib/fonts/LucidaBrightDemiBold.ttf
Game/application.windows64/java/lib/fonts/LucidaBrightDemiItalic.ttf
Game/application.windows64/java/lib/fonts/LucidaBrightItalic.ttf
Game/application.windows64/java/lib/fonts/LucidaBrightRegular.ttf
Game/application.windows64/java/lib/fonts/LucidaSansDemiBold.ttf
Game/application.windows64/java/lib/fonts/LucidaSansRegular.ttf
Game/application.windows64/java/lib/fonts/LucidaTypewriterBold.ttf
Game/application.windows64/java/lib/fonts/LucidaTypewriterRegular.ttf
Game/application.windows64/java/lib/fonts/SourceCodePro-Bold.ttf
Game/application.windows64/java/lib/fonts/SourceCodePro-LICENSE.txt
Game/application.windows64/java/lib/fonts/SourceCodePro-Regular.ttf
Game/application.windows64/java/lib/fonts/SourceSansPro-Regular.ttf
Game/application.windows64/java/lib/fonts/SourceSansPro-Semibold.ttf
Game/application.windows64/java/lib/hijrah-config-umalqura.properties
Game/application.windows64/java/lib/images/cursors/cursors.properties
Game/application.windows64/java/lib/images/cursors/invalid32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_CopyDrop32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_CopyNoDrop32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_LinkDrop32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_LinkNoDrop32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_MoveDrop32x32.gif
Game/application.windows64/java/lib/images/cursors/win32_MoveNoDrop32x32.gif
Game/application.windows64/java/lib/javafx.properties
Game/application.windows64/java/lib/jce.jar
Game/application.windows64/java/lib/jfr.jar
Game/application.windows64/java/lib/jfr/default.jfc
Game/application.windows64/java/lib/jfr/profile.jfc
Game/application.windows64/java/lib/jfxswt.jar
Game/application.windows64/java/lib/jsse.jar
Game/application.windows64/java/lib/jvm.hprof.txt
Game/application.windows64/java/lib/logging.properties
Game/application.windows64/java/lib/management/jmxremote.access
Game/application.windows64/java/lib/management/jmxremote.password.template
Game/application.windows64/java/lib/management/management.properties
Game/application.windows64/java/lib/management/snmp.acl.template
Game/application.windows64/java/lib/management-agent.jar
Game/application.windows64/java/lib/meta-index
Game/application.windows64/java/lib/net.properties
Game/application.windows64/java/lib/plugin.jar
Game/application.windows64/java/lib/psfont.properties.ja
Game/application.windows64/java/lib/psfontj2d.properties
Game/application.windows64/java/lib/resources.jar
Game/application.windows64/java/lib/rt.jar
Game/application.windows64/java/lib/security/blacklist
Game/application.windows64/java/lib/security/blacklisted.certs
Game/application.windows64/java/lib/security/cacerts
Game/application.windows64/java/lib/security/java.policy
Game/application.windows64/java/lib/security/java.security
Game/application.windows64/java/lib/security/javaws.policy
Game/application.windows64/java/lib/security/local_policy.jar
Game/application.windows64/java/lib/security/trusted.libraries
Game/application.windows64/java/lib/security/US_export_policy.jar
Game/application.windows64/java/lib/sound.properties
Game/application.windows64/java/lib/tzdb.dat
Game/application.windows64/java/lib/tzmappings
Game/application.windows64/java/LICENSE
Game/application.windows64/java/README.txt
Game/application.windows64/java/release
Game/application.windows64/java/THIRDPARTYLICENSEREADME.txt
Game/application.windows64/java/THIRDPARTYLICENSEREADME-JAVAFX.txt
Game/application.windows64/java/Welcome.html
Game/application.windows64/lib/core.jar
Game/application.windows64/lib/Game.jar
Game/application.windows64/lib/gluegen-rt.jar
Game/application.windows64/lib/gluegen-rt-natives-windows-amd64.jar
Game/application.windows64/lib/jogl-all.jar
Game/application.windows64/lib/jogl-all-natives-windows-amd64.jar
Game/application.windows64/source/Base.pde
Game/application.windows64/source/Enemy.pde
Game/application.windows64/source/EnemyHandler.pde
Game/application.windows64/source/Game.java
Game/application.windows64/source/Game.pde
Game/application.windows64/source/Player.pde
Game/application.windows64/source/Projectile.pde
Game/application.windows32/gaaame.zip
Game/application.windows32/Sprites/Grey_Matters_Big_Enemy_Part1.png
Game/application.windows32/Sprites/Grey_Matters_Big_Enemy_Part2.png
Game/application.windows32/Sprites/Grey_Matters_Core_1_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_2_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_3_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_4_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_5_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_6_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_7_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_8_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_9_Health.png
Game/application.windows32/Sprites/Grey_Matters_Core_Full_Health_Bigger.png
Game/application.windows32/Sprites/Grey_Matters_Map.png
Game/application.windows32/Sprites/Grey_Matters_Medium_enemy_Part1.png
Game/application.windows32/Sprites/Grey_Matters_Medium_enemy_Part2.png
Game/application.windows32/Sprites/Grey_Matters_Small_Enemy_Part1.png
Game/application.windows32/Sprites/Grey_Matters_Small_Enemy_Part2.png
Game/application.windows32/Sprites/Player_AK.png
Game/application.windows32/Sprites/Player_Laser.png
Game/application.windows32/Sprites/Player_Laser_Glow.png
Game/application.windows32/Sprites/Player_Shotgun.png
Game/application.windows64/Sprites/Grey_Matters_Big_Enemy_Part1.png
Game/application.windows64/Sprites/Grey_Matters_Big_Enemy_Part2.png
Game/application.windows64/Sprites/Grey_Matters_Core_1_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_2_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_3_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_4_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_5_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_6_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_7_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_8_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_9_Health.png
Game/application.windows64/Sprites/Grey_Matters_Core_Full_Health_Bigger.png
Game/application.windows64/Sprites/Grey_Matters_Map.png
Game/application.windows64/Sprites/Grey_Matters_Medium_enemy_Part1.png
Game/application.windows64/Sprites/Grey_Matters_Medium_enemy_Part2.png
Game/application.windows64/Sprites/Grey_Matters_Small_Enemy_Part1.png
Game/application.windows64/Sprites/Grey_Matters_Small_Enemy_Part2.png
Game/application.windows64/Sprites/Player_AK.png
Game/application.windows64/Sprites/Player_Laser.png
Game/application.windows64/Sprites/Player_Laser_Glow.png
Game/application.windows64/Sprites/Player_Shotgun.png
Game/application.windows32/application.windows32.zip
Game/application.windows32/source/Particle.pde
Game/application.windows32/source/ParticleSystem.pde
Game/application.windows64/source/Particle.pde
Game/application.windows64/source/ParticleSystem.pde
Game/application.windows32/application.zip
Game/application.windows32/lib/jl1.0.1.jar
Game/application.windows32/lib/jsminim.jar
Game/application.windows32/lib/libgcc_s_sjlj-1.dll
Game/application.windows32/lib/libmethcla.dll
Game/application.windows32/lib/libMethClaInterface.dll
Game/application.windows32/lib/libmpg123-0.dll
Game/application.windows32/lib/libsndfile-1.dll
Game/application.windows32/lib/libwinpthread-1.dll
Game/application.windows32/lib/minim.jar
Game/application.windows32/lib/mp3spi1.9.5.jar
Game/application.windows32/lib/sound.jar
Game/application.windows32/lib/tritonus_aos.jar
Game/application.windows32/lib/tritonus_share.jar
Game/application.windows32/Sound/track1.mp3
Game/application.windows32/source/Decal.pde
Game/application.windows32/Sprites/Grey_Matters_Splatt1.png
Game/application.windows32/Sprites/Grey_Matters_Splatt2.png
Game/application.windows32/Sprites/Grey_Matters_Splatt3.png
Game/application.windows32/Sprites/spookysprite.png
Game/application.windows64/lib/jl1.0.1.jar
Game/application.windows64/lib/jsminim.jar
Game/application.windows64/lib/libmethcla.dll
Game/application.windows64/lib/libMethClaInterface.dll
Game/application.windows64/lib/libmpg123-0.dll
Game/application.windows64/lib/libsndfile-1.dll
Game/application.windows64/lib/libwinpthread-1.dll
Game/application.windows64/lib/minim.jar
Game/application.windows64/lib/mp3spi1.9.5.jar
Game/application.windows64/lib/sound.jar
Game/application.windows64/lib/tritonus_aos.jar
Game/application.windows64/lib/tritonus_share.jar
Game/application.windows64/source/Decal.pde
Game/application.windows32/lib/interfascia.jar
Game/application.windows32/lib/README.md
Game/application.windows32/Sprites/Player_AK_move1.png
Game/application.windows32/Sprites/Player_AK_move2.png
Game/application.windows64/lib/interfascia.jar
Game/application.windows64/lib/README.md

Game/application.windows64/

Game/application.windows32/
